github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "SwiftyJSON/SwiftyJSON"
github "Quick/Nimble"
github "AliSoftware/OHHTTPStubs" "swift-3.0"
github "realm/realm-cocoa"
github "dekatotoro/SlideMenuControllerSwift"
github "thii/FontAwesome.swift"
